* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
}
a {
  color: #333;
  text-decoration: none;
}
ul,
.links {
  list-style: none;
}
/* navigation */
header {
  background-color: #c7c4c4;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  padding: 20px 0;
  margin: 50px 0;
}
header ul,
.links {
  display: flex;
}
header .links {
  padding-left: 50px;
}
header .links .la-instagram {
  padding-left: 10px;
}
header ul li {
  padding: 0 20px;
}
header ul li a {
  padding-bottom: 2px;
  font-weight: bold;
}
header ul li a:hover {
  border-bottom: 2px solid #333;
}
/* container grid*/
.grid-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 200px auto;
  max-width: 1440px;
}
.grid-items .photo {
  width: 100%;
  height: 300px;
}

/* showcase info firm */
.showcase {
  background-color: #ebe9e9;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main.showcase .showcase-grid {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
}
main.showcase .showcase-grid .text-info {
  padding-left: 100px;
}
/* footer */
.footer-top {
  background-color: #333;
  color: #fff;
  display: flex;
  text-align: center;
  justify-content: space-around;
  height: 250px;
}
.footer-top h4 {
  padding-top: 10px;
}
.footer-top .contact {
  padding-top: 20px;
  text-align: left;
}
.footer-top .contact li {
  padding-top: 10px;
}
.footer-bottom {
  background-color: rgb(63, 63, 63);
  color: #fff;
  text-align: center;
}
.footer-bottom a {
  color: #fff;
}
/* slide */
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.7s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 50px;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(95, 95, 95, 0.6);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.8s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
